<?php

return [
    // For Linux
    'lmc_mail' => [
        'transport' => [
            'type' => 'smtp',
            'options' => [
                'host' => 'example.com',
                'connection_class' => 'plain',
                'connection_config' => [
                    'ssl' => 'tls',
                    'username' => 'user@example.com',
                    'password' => 'somepassword',
                ],
                'port' => 587,
            ],
        ],
        'from' => [
            'email' => 'user@example.com',
            'name' => 'User',
        ],
    ],
    // For local dev
    'lmc_mail' => [
        'transport' => [
            'type' => 'file',
            'options' => [
                'path' => '/path/to/email/folder',
            ],
        ],
        'from' => [
            'email' => 'user@example.com',
            'name' => 'User',
        ],
    ],
];
